<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  
  <div>  
    <div class="row">  
      <div class="col-sm-12 btn btn-primary">  
        Batsman Performance Analysis  
      </div>  
    </div>  
    <div class="row" style="margin-top:10px;margin-bottom: 10px;">  
      <div class="col-sm-2">  
        <button class="btn btn-success" routerLink="/LineChart">Line Chart</button>  
      </div>  
      <div class="col-sm-2">  
        <button class="btn btn-success" routerLink="/BarChart">Bar Chart</button>  
      </div>  
      <div class="col-sm-2">  
        <button class="btn btn-success" routerLink="/PieChart">Pie Chart</button>  
      </div>  
      <div class="col-sm-2">  
        <button class="btn btn-success" routerLink="/DoughnutChart">Doughnut Chart</button>  
      </div>  
      <div class="col-sm-2">  
        <button class="btn btn-success" routerLink="/Polarchart">Polar Area</button>  
      </div>  
      <div class="col-sm-2">  
      </div>  
    </div>  
  </div>  
  <hr style="background-color:black" /> 


<router-outlet></router-outlet>
